.app {
    background: url("https://wallpaperboat.com/wp-content/uploads/2020/10/07/56141/genshin-impact-11.jpg") no-repeat center center fixed;    
    background-size: cover;
    overflow: auto;
    height: 100vh;
}

.copyrights {
    margin: 0;
    text-align: center;
}