.textSize {
    composes: textSizeBig from './index.css';
}

.text {
    composes: textColor from './index.css';
    composes: textSize;
    text-align: center;
}

.colorTierS {
    color: var(--s-tier-color);
}
.colorTierA {
    color: var(--a-tier-color);
}
.colorTierB {
    color: var(--b-tier-color);
}
.colorTierC {
    color: var(--c-tier-color);
}