.title {
    composes: textSizeBig from './index.css';
    composes: textColor from './index.css';
}

.four {
    background: var(--four-color-transparent);
}

.five {
    background: var(--five-color-transparent);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 70%;
    margin: 20px auto;
    padding: 2% 10%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #fff inset,
                -1px -1px 2px #fff inset;
    border-radius: 10px/10px;  
}

.subcontainer { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 40px;
    column-gap: 20px;
    width: 100%;
}