:root {
    --five-color:#bc6a32;
    --four-color: #a356e2;
    --five-color-transparent:#f07828e0;
    --four-color-transparent: #a356e2ce;
    --star-color: rgb(255, 123, 0);
    --font-color-light: white;
    --font-color-dark: 	#ccba9c;
    --background-color: rgba(0, 0, 0, 0.863);
    --warning-color: rgb(235, 37, 37);

    --s-tier-color: rgb(233, 36, 36);
    --a-tier-color: rgb(64, 233, 13);
    --b-tier-color: rgb(16, 116, 230);
    --c-tier-color: rgb(177, 42, 240);
}

.textColor {
    color: var(--font-color-light);
}
.textSizeBig {
    font-size: 38px;
}
.textSizeNormal {
    font-size: 21px;
}
.textSizeSmall {
    font-size: 14px;
}

@font-face {
    font-family: 'GenshinFont';
    src: local('GenshinFont'), url(../fonts/zh-cn.ttf) format('truetype');
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'GenshinFont';
}