.title {
    composes: textColor from './index.css';
    composes: textSizeNormal from './index.css';
}

.starColorFour {
    color: var(--four-color);
}
.starColorFive {
    color: var(--star-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}