.textColor {
    composes: textColor from './index.css'
}
.textSizeBig {
    composes: textSizeBig from './index.css'
}
.textSizeNormal {
    composes: textSizeNormal from './index.css'

}
.textSizeSmall {
    composes: textSizeSmall from './index.css'
}
.colorTierS {
    color: var(--s-tier-color);
}
.colorTierA {
    color: var(--a-tier-color);
}
.colorTierB {
    color: var(--b-tier-color);
}
.colorTierC {
    color: var(--c-tier-color);
}

.subcontainer {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr auto;
    width: 80%;
    min-width: 305px;
    row-gap: 5px;
    padding: 5px 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #fff inset,
    -1px -1px 2px #fff inset;
    border-radius: 10px/10px;
}

.statName {
    composes: textColor;
    composes: textSizeNormal;
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: start;
}

.statValue {
    composes: textColor;
    composes: textSizeNormal;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    align-self: end;
}

.statRollsText {
    composes: textColor;
    composes: textSizeNormal;
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: start;
}

.statRolls {
    composes: textSizeNormal;
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    align-self: end;
}

.statTier {
    composes: textSizeBig;
    grid-row: 1 / span 2;
    grid-column: 3;
    justify-self: end;
    align-self: center;
}