.title {
    composes: textColor from './index.css';
    composes: textSizeNormal from './index.css';
}

.input {
    .ant-select-selector {
        border-radius: 25px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}