.statStyle {
    composes: textColor from './index.css';
    composes: textSizeNormal from './index.css';
}

.color {
    color: var(--font-color-light) !important;
}

.inputInvalid {
    border: 4px solid var(--warning-color) !important;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.statSelectorContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
}

